<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script> >
  <div class=" text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img position="absolute" align="left" align="top" height="150" width="150" src="logo.jpg" class="img-thumbnail" alt="Cinque Terre"
            width="304" height="236">
        </div>
        <div class=" col-md-6">
          <h1>Find My Book</h1>
        </div>

        <div class="col-md-3"></div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Book Depository</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Book Store</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              ebooks
            </a>
            <li class="nav-item">
              <a class="nav-link" href="#">Story-Board</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Review</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">My Account</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">About Us</a>
            </li>
            <form class="form-inline my-2 my-lg-0" style="padding-left: 300px">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>



          </li>
        </ul>
      </div>
    </nav>

    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="book3.jpg" alt="Los Angeles">
        </div>
        <div class="carousel-item">
          <img src="book7.jpg" alt="Chicago">
        </div>
        <div class="carousel-item">
          <img src="book8.jpg" alt="New York">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>


</body>

</html>